<%= partial "layouts/navbar" %>
<div class="main-container">

  <div id="wrapper">
    <img class="banner" src="<%= image_path 'poke-bowl.jpg' %>" style="">
  </div>

  <div class="home-container">
    <div class="home-sub-container">
      <img class="home-sub-container-image" src="<%= image_path 'poke-bowl.jpg' %>" style="">
      <div class="home-sub-container-content">
        <p>Le concept</p>
        <a href="/concept.html" class="btn btn-default">EN SAVOIR PLUS</a>
      </div>
    </div>
    <div class="home-sub-container">
      <div class="home-sub-container-content">
        <p>Le restaurant</p>
        <a href="/nosservices.html" class="btn btn-default">EN SAVOIR PLUS</a>
      </div>
      <img class="home-sub-container-image" src="<%= image_path 'poke-bowl.jpg' %>" style="">
    </div>
    <div class="home-sub-container">
      <img class="home-sub-container-image" src="<%= image_path 'poke-bowl.jpg' %>" style="">
      <div class="home-sub-container-content">
        <p>Le menu</p>
        <a href="/contact.html" class="btn btn-default">EN SAVOIR PLUS</a>
      </div>
    </div>
  </div>
  <div class="home-banner-25vh">
      <a href="/contact.html" class="btn btn-default">CONTACT</a>
  </div>
  <div class="home-banner-50vh">
    <img class="banner-50vh" src="<%= image_path 'poke-bowl.jpg' %>" style="">
  </div>
</div>
